/target/
/colims-client/target/
/colims-repository/target/
/colims-model/target/
/colims-core/target/
/colims-core/derby.log

# Eclipse editor specific excludes
.settings
.project
.classpath

colims-client/nb-configuration.xml
colims-core/nb-configuration.xml
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/db.lck
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/log/log.ctrl
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/log/log5.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/log/logmirror.ctrl
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c10.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c101.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c111.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c121.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c130.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c141.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c150.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c161.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c171.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c180.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c191.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c1a1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c1b1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c1c0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c1d1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c1e0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c1f1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c20.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c200.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c211.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c221.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c230.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c241.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c251.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c260.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c271.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c281.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c290.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c2a1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c2b1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c2c1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c2d0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c2e1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c2f0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c300.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c31.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c311.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c321.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c331.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c340.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c351.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c361.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c371.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c380.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c391.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c3a1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c3b1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c3c0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c3d1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c3e1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c3f1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c400.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c41.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c411.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c421.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c430.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c441.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c451.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c461.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c470.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c481.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c490.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c4a0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c4b0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c4c0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c4d0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c4e0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c51.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c60.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c71.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c81.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/c90.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/ca1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/cb1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/cc0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/cd1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/ce1.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/seg0/cf0.dat
colims-core/resources/matches/wt course test dataset_wt course test dataset_0_id/service.properties
colims-repository/nb-configuration.xml
colims-repository/nbactions.xml
colims-client/derby.log
colims-core/src/test/resources/uniprot_sprot_101104_human_concat.fasta.cui
/com.compomics.colims_colims-distributed_jar_1.2.0-SNAPSHOT/target/
/colims-distributed/target/
*.versionsBackup
colims-distributed/data/localhost/KahaDB/db-1.log
colims-distributed/data/localhost/KahaDB/db.data
colims-distributed/data/localhost/KahaDB/db.redo
colims-distributed/data/localhost/KahaDB/lock
colims-distributed/src/test/resources/log4j.properties
colims-distributed/src/test/resources/colims-distributed-context.xml
colims-distributed/derby.log
colims-core/src/test/resources/data/maxquant/testfasta.fasta.cui
colims-core/com.compomics.colims.model.Protein/segments.gen
colims-core/com.compomics.colims.model.Protein/segments_1

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


