/colims-client/activemq-data
/colims-client/target/
/colims-repository/target/
/colims-model/target/
/colims-core/target/
/colims-core/derby.log
/colims-distributed/target/
/colims-distributed/derby.log
/target/
/derby.log
pom.xml~
.gitignore~
desktop.ini
*.log

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
## Plugin-specific files:

# IntelliJ
# mpeltonen/sbt-idea plugin
# JIRA plugin
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# netbeans
nb-configuration.xml
*nbactions.xml
*nbactions.xml.rej
